<ion-view title="About" hide-back-button="{{hideBackButton}}">
  <ion-content>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ng-if="!hideNavButton" ng-click="toggleLeft()">
      </button>
    </ion-nav-buttons>
    <div class="card">
      <div class="item item-text-wrap">
        Testing one two three
        <
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <button class="button button-stable oip-center-button" ng-click="onlineActivate()">
          Use online version
        </button>
      </div>
    </div>

    <div d3-bars data="data" bar-height="40" bar-padding="5"></div>
  </ion-content>
</ion-view>
