<ion-view title="Filters" hide-back-button="true">
    <ion-content>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
            </button>
        </ion-nav-buttons>
        <div class="list">
            <div ng-if="acts > 0" class="item">
                <h2>{{acts}} activities</h2>
                <small ng-if="search">You also have a search query ("{{search}}") enabled.</small>
            </div>
            <div ng-if="!acts" class="item">
                <h2>No activities found with the current filters. </h2>
                <small ng-if="search">You have a search query ("{{search}}") enabled.</small>
            </div>

            <label class="item item-input item-select">
                <div class="input-label">
                    Region
                </div>
                <select name="region" id="region" ng-model="filterForm.region" ng-change="updateRegion(filterForm.region)">
                    <option value="No filter">No filter</option>
                    <option  ng-repeat="region in regions"
                             ng-value="region.name">{{ region.name }}</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Country
                </div>
                <select name='country' ng-model="filterForm.country" ng-change="updateCountry(filterForm.country)">
                    <option value="No filter">No filter</option>
                    <option  ng-repeat="country in countries"
                             ng-value="country.name">{{ country.name }}</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Sector
                </div>
                <select name='sector' ng-model="filterForm.sector" ng-change="updateSector(filterForm.sector)">
                    <option value="No filter">No filter</option>
                    <option  ng-repeat="sector in sectors"
                             ng-value="sector.name">{{ sector.name }}</option>
                </select>
            </label>
        </div>
        <button class="button button-stable oip-center-button" ng-click="resetFilters()">
            Reset all filters
        </button>
    </ion-content>
</ion-view>
