<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Internet Connection Required</h1>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <div class="item item-text-wrap text-center">
            <i class="icon ion-wifi oip-icon-center"></i>
            <p>
                An internet connection is required to use this application. Please connect to the internet.
            </p>
            <button class="button button-positive" ng-click="closeInternetRequiredModal()">
                Continue anyway...
            </button>
        </div>
    </ion-content>
</ion-modal-view>