/* Empty. Add your own CSS if you like */
.list .my-item.item {
    left: 0;
    right: 0;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 0;
    border-bottom: 0; /* fixes thick non-ionic like border */
}

.fade-bar {
    height: 20px;
    width: 0;
    position: fixed;
    z-index: 9999;
    background-color: #000;
}

.back-bar {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 9999;
    opacity: 1;
    background-color: #111111;
}

.oip-icon-center {
    display: block;
    font-size: 40px;
    margin-bottom: 10px;

}

.oip-center-button {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right : auto;
}

svg {
    /*font: 10px sans-serif;*/
    shape-rendering: crispEdges;
}

/*rect {*/
    /*fill: #2b205a;*/
/*}*/

.oip-show-hide {
    opacity: 1;
}

.oip-show-hide.ng-hide-remove{
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.oip-show-hide.ng-hide {
    line-height:0;
    opacity:0;
    padding:0;
}
.axis path,
.axis line {
    fill: none;
    stroke: #fff;
}